<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<table class="table">
		<thead>
			<tr>
				<th>색깔</th>
				<th>클래스</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>기본 색상</td>
				<td></td>
			</tr>
			<tr class="table-primary">
				<td>(중요)파란색</td>
				<td>class="table-primary"</td>
			</tr>
			<tr class="table-secondary">
				<td>회색</td>
				<td>class="table-secondary"</td>
			</tr>
			<tr class="table-success">
				<td>(성공)초록색</td>
				<td>class="table-success"</td>
			</tr>
			<tr class="table-danger">
				<td>(위험)빨간색</td>
				<td>class="table-danger"</td>
			</tr>
			<tr class="table-warning">
				<td>(경고)주황색</td>
				<td>class="table-warning"</td>
			</tr>
			<tr class="table-info">
				<td>(정보)하늘색</td>
				<td>class="table-info"</td>
			</tr>
			<tr class="table-lgiht">
				<td>밝은회색</td>
				<td>class="table-light"</td>
			</tr>
			<tr class="table-dark">
				<td>검정색</td>
				<td>class="table-dark"</td>
			</tr>
		</tbody>
	</table>
</div>
</html>